@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;700;900&display=swap');

/*
  This hack avoids Chrome terrible yellow color on autofilled inputs

  Source: http://webagility.com/posts/the-ultimate-list-of-hacks-for-chromes-forced-yellow-background-on-autocompleted-inputs
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
input[data-com-onepassword-filled='light'],
select[data-com-onepassword-filled='light'],
input[data-com-onepassword-filled='dark'],
select[data-com-onepassword-filled='dark'] {
  -webkit-transition-delay: 99999s;
  transition-delay: 99999s;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
